/* MEDIA QUERIES
------------------------------------------------------------------------------*/

@import "classes";

@media (min-width:320px) {
	@import "320";
}
@media (min-width:480px) {
	@import "480";
}
@media (min-width:768px) {
	@import "768";
}
@media (min-width:960px) {
	@import "960";
}
@media (min-width:1200px) {
	@import "1200";
}