/* Responsive classes
-------------------------------------------------- */
/* Large desktop */
@media (min-width: 1200px) {
    .visible-phone {
        display: none;
    }
    .visible-tablet {
        display: none;
    }    
    .visible-desktop {
        display: inherit;
    }
    .hidden-phone {
        display: inherit;
    }
    .hidden-tablet {
        display: inherit;
    }
    .hidden-desktop {
        display: none;
    }
}

/* Desktop */
@media (min-width: 980px) and (max-width: 1199px) {
    .visible-phone {
        display: none;
    }
    .visible-tablet {
        display: none;
    }    
    .visible-desktop {
        display: inherit;
    }
    .hidden-phone {
        display: inherit;
    }
    .hidden-tablet {
        display: inherit;
    }
    .hidden-desktop {
        display: none;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .visible-phone {
        display: none;
    }
    .visible-tablet {
        display: inherit;
    }    
    .visible-desktop {
        display: none;
    }
    .hidden-phone {
        display: inherit;
    }
    .hidden-tablet {
        display: none;
    }
    .hidden-desktop {
        display: inherit;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .visible-phone {
        display: inherit;
    }
    .visible-tablet {
        display: none;
    }    
    .visible-desktop {
        display: none;
    }
    .hidden-phone {
        display: none;
    }
    .hidden-tablet {
        display: inherit;
    }
    .hidden-desktop {
        display: inherit;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    .visible-phone {
        display: inherit;
    }
    .visible-tablet {
        display: none;
    }    
    .visible-desktop {
        display: none;
    }
    .hidden-phone {
        display: none;
    }
    .hidden-tablet {
        display: inherit;
    }
    .hidden-desktop {
        display: inherit;
    }
}