/* typography
------------------------------------------------------------------------------------------------------*/

.bold { font-weight: bold; }
.normal { font-weight: normal; }

.line-height (@line-height: 1em) {
	line-height: @line-height;
}

.txt-none { text-decoration: none; }
.txt-under { text-decoration: underline; }

.txt-lower { text-transform: lowercase; }
.txt-upper { text-transform: uppercase; }

/* colors
------------------------------------------------------------------------------------------------------*/

.color (@color: #333) {
	color: @color;
}

/* floats
------------------------------------------------------------------------------------------------------*/
.left { float:left; }
.right { float:right; }
.clear { clear:both; }
.clear-l { clear:left; }
.clear-r { clear:right; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

/* display && visibility
------------------------------------------------------------------------------------------------------*/
.none { display:none; }
.block { display:block; }
.inline { display:inline; }
.visible { visibility: visible; }
.hidden { visibility: hidden; }
.center { display: table-cell; vertical-align: middle; text-align: center; }

.align-center { margin: 0 auto; }

/* positions
------------------------------------------------------------------------------------------------------*/
.absolute { position: absolute; }
.fixed { position: fixed; }
.relative { position: relative; }